/* Pages > Projects */

#projects {
    overflow: visible;
    padding: 80px 0;
    text-align: center;
    
    img {
        border-radius: 3px;
    }
    
    h2 {
        margin-top: 120px;
    }
    
    .button {
        float: none;
        text-align: center;
    }
}