/* Pages > Studio */

#overview,
#services,
#team {
    margin: 0 auto;
    width: 100%;
}

.hero#studio {
    background: url(../img/Hero.JPG) no-repeat bottom center;
    background-size: cover;
    height: 65%;
    min-height: 300px;
    position: relative;
}

#overview {
    background: #fff;
    padding: 80px 0;
}

#overview {
    h1,
    h2 {
        color: $color-medium-grey;
    }
    
    h2 {
        margin: 0;
    }
}

#services {
    background: $color-medium-blue;
    padding: 80px 0;
    
    h1,
    h2 {
        color: $color-medium-grey;
    }
    
    h2 {
        margin-bottom: 70px;
    }
    
    h3 {
        color: #eee;
    }
    
    .service {
        background: $color-dark-blue-tint;
        border-radius: 4px;
        display: flex;
        margin-bottom: 3%;
        overflow: hidden;
        
        &:last-of-type {
            margin-bottom: 0;
        }
        
        .image {
            align-items: center;
            display: flex;
            text-align: center;
            width: 28%;
            
            img {
                display: block;
                margin: 0 auto;
                max-height: 100px;
            }
        }
        
        .detail {
            background: $color-dark-blue;
            padding: 6%;
            width: 60%;
            
            p {
                color: $color-light-grey;
            }
        }
    }
}

#team {
    padding: 80px 0;
    text-align: center!important;
    
    h2 {
        margin-bottom: 70px;
    }
    
    h3 {
        margin-bottom: 5px;
    }
    
    #support {
        float: left;
        width: 100%;
        
        div {
            margin: 0 3% 0 0;
            float: left;
            width: 22.75%;
            
            &:last-child {
                margin: 0;
            }
            
            img {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
                height: auto;
                margin: 0 0 20px 0;
                padding: 5%;
                width: 90%;
            }
        }
    }
}