/* Layout > Nav */

nav {
    display: none;
    left: -250px;
    position: fixed;
    top: 0;
  
    &.open {
        display: block;
    }
    
    ul {
        margin-top: 40px;
        width: 250px;
        
        li {
            display: block;
            padding: 5px 40px;
          
            &.active a {
                color: $color-medium-blue;
            }
        }
    }
}

.openNav {
    cursor: pointer;
    display: none;
    height: 22px;
    left: 40px;
    position: absolute;
    top: 42px;
    width: 30px;
    z-index: 999;
    
    &.open {
        left: 40px;
        position: fixed;
        top: 42px;
        
        .icon {
            background-color: transparent;
            
            &:before {
               transform: rotate(-45deg);
            }
            
            &:before,
            &:after {
                top: 0;
            }
            
            &:after {
                transform: rotate(45deg);
            }
        }
    }
    
    .icon {
        background: $color-medium-grey;
        height: 2px;
        left: 0;
        position: absolute;
        top: 10px;
        transition-duration: 0.25s;
        width: 30px;
      
        &:before {
            top: -7px;
        }
        
        &:before,
        &:after {
            background: $color-medium-grey;
            content: '';
            height: 2px;
            left: 0px;
            position: absolute;
            transition-duration: 0.5s;
            width: 30px;
        }
        
        &:after {
            top: 7px;
        }
    }
    
    &:hover {
        .icon {            
            &:before,
            &:after {
                background: $color-medium-blue;
            }
        }
    }
}