/* Components > Buttons */

.button {
    background: $color-medium-blue;
    border-radius: 4px;
    color: #fff!important;
    display: inline-block;
    float: left;
    font-size: 10pt;
    font-weight: 400;
    padding: 14px 17px;
    text-transform: uppercase;
}