/* Base > Colors */

$color-dark-blue: #163b54;
$color-dark-blue-tint: #21445c;
$color-medium-blue: #08304d;
$color-medium-grey: #597080;
$color-light-grey: #7d93a2;

$dark-grey: #342E34;
$light-grey: #999;
$lime: #B1DB24;
